



body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 20px;
}
h2{
    padding: 10px;
    text-align: center;
}


/* ecran plus petit que 410 px*/
@media screen and (max-width: 410px) {
    body{
        background-color: red;
    }

    #medium{
        display: none;
    }

    #large{
        display: none;
    }

    #small{
        font-size: 10px;
    }

    #small1, #small2, #small3{
        display: grid;
        grid-template-columns: 1fr;
    }
}


/* ecran entre 410px et 768px*/
@media screen and (min-width: 410px) and (max-width: 768px){
    body{
        background-color: green;
    }

    #small{
        display: none;
    }

    #large{
        display: none;
    }

    #medium{
        font-size: 20px;
    }

    #medium1-2{
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: auto;
    }
}


/*ecran plus grand que 768px*/
@media screen and (min-width: 768px) {
    body{
        background-color: blue
    }

    #small{
        display: none;
    }

    #medium{
        display: none;
    }
   
    #large{
        font-size: 30px;
    }
    
    #large1-2-3{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
    }
}